body{
    background: rgba(203, 154, 6, 0.83);
}
h1{
    text-align: center;
    font-family: sofia;
    font-size: 50px;
}
img{
    height: 250px;
    width: 350px;
}
h2{
    text-align: center;
    font-family: sofia;
    font-size: 30px;
}
img.river{
    align: right;
}